<p>
  This is a tool to show you how many times you've texted with all of your contacts. An iPhone is required. Follow the instructions below to upload your messages.
</p>
<ol>
 <li>
    Sync your phone with iTunes (Mac or PC). Make sure you store the backup locally and that it is unencrypted.
 </li>
 <li>
    Upload the file on your computer called 3d0d7e5fb2ce288813306e4d4636395e047a3d28. On Windows, it is in %APPDATA%\Apple Computer\MobileSync\Backup\[some id]. On Mac, it is in User>Library>Application Support>MobileSync>Backup>[some id]
 </li>
</ol>

<form method="post" action="/" enctype="multipart/form-data">
  <div><input type="file" name="sms_db" /></div>
  <input type="submit" />
</form>

<p>
  The files you upload will not be stored in any way. They will be deleted as soon as the text messages are counted, and the results will not be shared with anyone else.
</p>