<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
      <title>Text Message Counter</title>
      <link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" type="text/css" href="css/layout.css" />
      <%= javascripts %>
      <%= styles %>
  </head>
  <body>
    <h1>Text Message Counter</h1>
    <hr />
    <div>
      <a href="/">home</a>
      <a href="https://github.com/bdwain/text_message_counter">source</a>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>